body {
	font-family: "Courier New";
	background-color: black; 
	color:lime;
	margin: 20px;
}
footer {
	right: 0;
	bottom: 0;
	position: fixed;
}
input{
	background-color: black;
	border:1px solid #00BB00;
	color:lime;
}

/* Chat */

ul{
	margin: 0px;
	padding-left: 0px;
	list-style-type: none;
}

.login.page{
  font-size: 100px;
}
.chat.page {
  display: none;
  font-size:50px;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

.inputMessage{
  font-family: "Courier New";
  margin-left: 20px;
  width: 70%;
  font-size:50px;
}

.usernameInput{
  font-family: "Courier New";
  font-size:100px;
  width:90%;
}

.users{
  float: left;
  margin-bottom:10px;
  font-size:25px;
}

.chatArea{
  margin-top: 20px;
  overflow: hidden;
  padding-left: 20px;
  word-wrap: break-word;
}
